.today{
    background-image: url('../assets/images/bg-today-small.svg');
    /* width: 100%; */
    aspect-ratio: 343 / 286;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 1.25rem;

    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 1.25rem;
}

.today .city , .today .date{
    margin-inline: auto;
    width: fit-content;
}

.today .city_date{
    margin-bottom: 0.7rem;
    margin-top: 3rem;
}

.today .city {
    margin-bottom: 1.125rem;
    font-size: 1.875rem;

    color: var(--neutral0);
}

.today .date {
    font-size: 1.125rem;

    color: var(--neutral200);
}


.today .temperature{
    font-size: 5.625rem;
    width: fit-content;
    margin-inline: auto;
    display: flex;
    align-items: center;

    color: var(--neutral0);
    
}

.today .temperature .number{
    font-style: italic;
}
.today .temperature img{
    display: inline-block;
    width: 7.813rem;
    margin-right: 1rem;
}


