
.search_box_wrapper {
    margin-bottom: 2rem;
    font-size: 1.25rem;
  }

.search_box{
    padding-block:1.125rem;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    /* min-width: 320px; */
    /* max-width: 600px; */

    background-color: var(--neutral800);
    border-radius: 0.75rem;
    position: relative;
}

.search_box input{
    vertical-align: top;
    min-width: 100px;
    margin-left: 1rem;
    font-size: inherit;
    

    border: none;
    background: none;
    color: var(--neutral200);
}

.search_box input::placeholder{
    color: var(--neutral200);
}

.search_box + button{
    display: block;
    width: 100%;
    padding: 1.25rem;
    /* margin-bottom: 2rem; */
    font-size: inherit;

    background-color: var(--blue500);
    color: var(--neutral0);
    border-radius: 0.75rem;
}


.suggestions {
      position: absolute;
      border: 1px solid #ccc;
      border-top: none;
      max-height: 150px;
      overflow-y: auto;
      background-color: var(--neutral800);
      width: 100%;
      z-index: 1000;
      left: 0;
      top:4rem;
    }

.suggestion-item {
      padding: 8px;
      cursor: pointer;

      color: var(--neutral0);
}

    .suggestion-item:hover {
      background-color: var(--neutral600);
    }