

:root{
    --neutral900 : hsl(243, 96%, 9%);/*	rgb(3, 1, 45)*/
    --neutral800 : hsl(243, 27%, 20%);/*	rgb(39, 37, 65)*/
    --neutral700 : hsl(243, 23%, 24%);/*	rgb(49, 47, 75)*/
    --neutral600 : hsl(243, 23%, 30%);/*	rgb(61, 59, 94)*/
    --neutral300 : hsl(240, 6%, 70%);/*	rgb(174, 174, 183)*/
    --neutral200 : hsl(250, 6%, 84%);/*	rgb(213, 212, 217)*/
    --neutral0 : hsl(0, 0%, 100%);/*	rgb(255, 255, 255)*/

    --orange500:hsl(28, 100%, 52%);

    --blue500:hsl(233, 67%, 56%);/*	rgb(68, 85, 218)*/
    --blue700:hsl(248, 70%, 36%);/*	 	rgb(45, 28, 156)*/
}
